.card {
  &__matches {
    display: none;
    height: 440px;
    position: relative;
    overflow: hidden;
    width: 100%;

    @include onMobile {
      position: static;
      margin: 0 auto;
      height: 100%;
    }

    &.active {
      display: block;
    }

    &-wrapper {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: space-between;

      @include onMobile {
        display: block;
        position: static;
      }
    }
  }
  
  &-bet {
    position: relative;
    border-radius: 10px;
    transition: $transition-time;
    background-color: $background-grey;
    min-width: 25%;

    @include onMobile {
      min-width: none;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 40px;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(41, 42, 47, 0.5);
    }

    &:hover .card__watch {
      opacity: 1;
    }

    &:hover &-top {
      opacity: 0.5;
    }

    &:hover &__teams {
      opacity: 0.5;
    }

    &:hover &__bet {
      opacity: 0.5;
    }

    &:hover &__bottom {
      opacity: 0.5;
    }

    &-top {
      margin-left: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        width: 90%;
        height: 1px;
        display: block;
        position: absolute;
        background-color: $color-orange;
        transform: translateY(40px);
      }
    }

    &__event {
      color: $color-white;
      font-size: 14px;
      letter-spacing: 0.01em;
      font-weight: 400;
    }

    &__date {
      margin-right: 24px;

      &-month {
        margin: 30px 0 0;
        color: $color-white;
        font-size: 12px;
        letter-spacing: 0.01em;
        text-align: center;
      }

      &-hour {
        margin: 0 0 20px;
        color: $color-white;
        font-size: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        font-weight: 700;
      }
    }

    &__teams {
      margin: 20px 0 0 24px;
    }

    &__bet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__name {
      margin-left: 24px;
      color: $color-white;
      font-size: 20px;
      font-weight: 700;
    }

    &__coef {
      margin-right: 24px;
      color: $color-white;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.02em;
      border: 1px solid $color-orange;
      padding: 5px 14px;
    }

    &__bottom {
      display: flex;
    }

    &__timer {
      margin: 0 56px 22px 24px;
      color: $color-grey;
      letter-spacing: 0.01em;
      font-size: 12px;
    }

    &__sponsor {
      margin: 0 24px 22px 0;
    }
  }

  &__battles {
    display: none;
    height: 440px;
    position: relative;
    overflow: hidden;

    @include onMobile {
      position: static;
      margin: 0 auto;
      height: 100%;
    }

    &.active {
      display: block;
    }

    &-wrapper {
      position: absolute;
      display: flex;
      width: 100%;

      @include onMobile {
        display: block;
        position: static;
      }
    }
  }

  &-battle {
    position: relative;
    border-radius: 10px;
    transition: $transition-time;
    background-color: $background-grey;
    min-width: 25%;

    @include onMobile {
      min-width: none;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 40px;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(41, 42, 47, 0.5);
    }

    &:hover .card__watch {
      opacity: 1;
    }

    &:hover &__name {
      opacity: 0.5;
    }

    &:hover &__separator {
      opacity: 0.5;
    }

    &:hover &__image {
      opacity: 0.4;
    }

    &:hover &__body {
      opacity: 0.5;
    }

    &:hover &__map {
      opacity: 0.5;
    }

    &__name {
      padding: 46px 24px 12px;
      margin: 0;
      color: $color-white;
      font-size: 14px;
      letter-spacing: 0.01em;
    }

    &__separator {
      width: 80%;
      height: 1px;
      background-color: $color-orange;
      transform: translateX(10%);
      margin-bottom: 20px;
    }

    &__image {
      height: 36px;
      margin-left: 24px;
    }

    &__body {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__groups {
      padding: 20px 60px 40px 23px;
    }

    &__group {
      font-weight: 700;
      font-size: 20px;
      color: $color-white;
      display: inline-block;
    }

    &__matchNo {
      display: inline-block;
      color: $color-white;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.02em;
      border: 1px solid $color-orange;
      padding: 5px 14px;
      margin-right: 24px;
    }

    &__map {
      margin: 0;
      padding: 0 0 9px 24px;
      color: $color-grey;
      letter-spacing: 0.01em;
      font-size: 12px;
    }
  }

  &__watch {
    display: flex;
    align-items: center;
    opacity: 0;
    width: 166px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-orange;
    transition: $transition-time;
    
    &-image {
      margin-left: 20px;
    }

    &-text {
      margin-left: 10px;
      color: $color-white;
      font-size: 14px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
  }
}
