.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;

  &__header {
    background-image: url("../images/pictures/Header_image1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__schedule {
    background-color: $color-black;
  }

  &__rules {
    background-color: $color-orange;
  }

  &__footer {
    background-image: url("../images/pictures/Footer_image.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
