.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &__nav {
    grid-column: 1 / 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 190px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $color-orange;
      transform: translateY(90px);
    }

    &-logo {
      text-decoration: none;
    }

    &-link {
      text-decoration: none;
      padding-left: 40px;

      &:first-child {
        padding: 0;
      }
    }
  }

  &__pubg {
    grid-column: 1/7;
    margin-bottom: 36px;

    &-image {
      width: 190px;
      height: 60px;
    }
  }

  &__title {
    grid-column: 1 / 7;
    margin: 0 0 24px;

    font-weight: 700;
    font-size: 60px;
    color: $color-white;
  }

  &__text {
    grid-column: 1 / 7;
    margin-bottom: 220px;

    color: $color-light-grey;
    font-weight: 400;
    font-size: 18px;
  }

  &__actions {
    grid-column: 1 / 7;
    margin-bottom: 200px;
    display: flex;

    &-read {
      width: 240px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin-right: 36px;

      color: $color-black;
      background-color: $color-orange;
      font-size: 16px;
      font-weight: 600;
    }

    &-buy {
      width: 240px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      box-sizing: border-box;

      color: $color-orange;
      background-color: $color-black;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid $color-orange;
    }
  }
}
