.header {
  &__wrapper {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__nav {
    grid-column: 1 / 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 190px;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $color-orange;
      transform: translateY(90px);
    }

    &-logo {
      text-decoration: none;
    }

    &-link {
      text-decoration: none;
      padding-left: 40px;

      &:first-child {
        padding: 0;
      }

      &-image {
        transition: transform $transition-time;

        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }

  &__pubg {
    grid-column: 1/7;
    margin-bottom: 36px;
    z-index: 1;

    &-image {
      width: 190px;
      height: 60px;
    }
  }

  &__title {
    grid-column: 1 / 7;
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 60px;
    color: $color-white;
    z-index: 1;
  }

  &__text {
    grid-column: 1 / 7;
    margin-bottom: 180px;
    color: $color-light-grey;
    font-weight: 400;
    font-size: 18px;
    z-index: 1;
  }

  &__actions {
    grid-column: 1 / 7;
    margin-bottom: 200px;
    display: flex;
    z-index: 1;

    &-read {
      width: 240px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      box-sizing: border-box;
      margin-right: 36px;
      color: $color-black;
      background-color: $color-orange;
      font-size: 16px;
      font-weight: 600;
      transition: all $transition-time;

      &:hover {
        background-color: $color-black;
        color: $color-white;
        border: 1px solid $color-orange;
        transform: translateY(-4px);
      }
    }

    &-buy {
      width: 240px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      box-sizing: border-box;
      color: $color-orange;
      background-color: $color-black;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid $color-orange;
      transition: all $transition-time;

      &:hover {
        color: $color-white;
        transform: translateY(-4px);
      }
    }
  }
}
