.rules {
  background-color: $color-orange;

  &__wrapper {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include onMobile {
      padding: 20px;
      display: block;
    }
  }

  &__text {
    grid-column: 1 / 6;
    margin-top: 150px;

    @include onMobile {
      margin-top: 60px;
    }

    &-title {
      font-style: 32px;
      font-weight: 700;
      color: $color-black;
      margin: 0 0 20px;
    }

    &-description {
      font-size: 18px;
      font-weight: 500;
      color: $color-black;
      letter-spacing: 0.01em;
      line-height: 30px;

      @include onMobile {
        font-size: 14px;
      }

      &--active {
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  &__order {
    grid-column: 7 / 12;
    margin: 120px 0 60px;
    display: flex;

    @include onMobile {
      margin: 60px auto 40px;
      justify-content: space-evenly;
    }

    &-split {
      display: none;
    }

    &-card {
      text-align: center;
      margin: 0 10px;

      &-text {
        font-size: 16px;
        letter-spacing: 0.01em;
        font-weight: 400;
      }
    }
  }

  &__button {
    grid-column: 8 / 11;
    height: 60px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: $color-white;
    color: $color-black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    background-image: url("../images/icon/Rules/Rules_button.svg");
    background-repeat: no-repeat;
    background-position: 40px 18px;
    transition: all $transition-time;

    @include onMobile {
      margin: 40px auto;
    }

    &:hover {
      background-color: $background-grey;
      color: $color-white;
    }

    &:focus {
      background-color: $background-grey;
      color: $color-white;
    }
  }
}
