.schedule {
  &__title {
    padding-top: 140px;
    margin: 0 0 40px;
    color: $color-white;
    font-size: 32px;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    position: relative;
    margin-bottom: 80px;

    &-matches {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 50px;
      color: $color-white;
      background-color: $color-orange;
      text-decoration: none;
      font-size: 18px;
      font-weight: 700;
    }

    &-battles {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 50px;
      color: $color-white;
      background-color: $color-black;
      text-decoration: none;
      border: 1px solid $color-orange;
      box-sizing: border-box;
      font-size: 18px;
      font-weight: 700;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $color-orange;
    }
  }

  &__bets {
    display: flex;
    justify-content: space-between;

    &-card {
      color: $color-white;
    }
  }
}