.slider {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;

  @include onMobile {
    display: none;
  }

  &__slides {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__slide {
    display: none;
  }

  &__next {
    width: 200px;
    height: 100%;
    background-color: #1e1e1e1a;
    position: absolute;
    right: 0;
    transition: $transition-time;

    &:hover {
      background-color: #1e1e1e80;
      cursor: pointer;
    }
  }

  &__prev {
    width: 200px;
    height: 100%;
    background-color: #1e1e1e1a;
    position: absolute;
    left: 0;
    transition: $transition-time;

    &:hover {
      background-color: #1e1e1e80;
      cursor: pointer;
    }
  }

  &__dots {
    position: absolute;
    align-self: flex-end;
    display: flex;
  }

  &__dot {
    width: 20px;
    height: 20px;
    background-color: $color-white;
    border-radius: 40px;
    margin: 0 10px 40px;
    transition: $transition-time;

    &:hover {
      background-color: $color-orange;
      cursor: pointer;
    }

    &.active {
      background-color: $color-orange;
    }
  }
}

.active {
  display: block;
}
