.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-box {
  height: 996px;
  width: 1920px;
  overflow: hidden;
}

.slide {
  height: 100%;
  width: 100%;
}
